*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ralewayregular;
}

body{
    font-family: ralewayregular;
}
h1{
    font-family: ralewaybold;
    text-transform: uppercase;
}
h2,h3,h4,h5,h6{
    font-family: ralewaysemibold;
}
p{
    font-family: ralewaymedium;
}

/* Top Navbar */

.mrgtopbtm2px{
    margin: 10px 0px ;
    font-family: Arial, Helvetica, sans-serif;
}

.mrgleft15{
    margin-left: -15px;
}

.alignSocialAtNav {
    float: right;
    margin-right: -15px;
}

/* Main Navbar */

.navBar{
    background-color: #ffffff;
    border: none;
    box-shadow: 5px 2px 3px #c1b5b5;
    margin-bottom: 0;

}

.topAuto div ul li:first-child, li:nth-child(7){
    border-bottom: 2px solid #1977CC;
        
}
.topAuto div ul li:first-child a:hover{
    color: #1977CC;
}
.topAuto div ul li:nth-child(7) a:hover{
    color: #1977CC;
}
.topAuto{
    position: sticky;
    top: 0;
    z-index: 1;
}
.appointmentRoundBtn2{
    border-radius: 25px;
}


/* Main Banner */

.banner-1{
    background-image: url(../images/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.center-left{
    position: absolute;
    transform: translate(0%, 50%);
}

.appointmentRoundBtn{
    border-radius: 25px;
    text-transform: uppercase;
}