*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Above Navbar */

.mrgtopbtm2px{
    margin: 10px 0px ;
    font-family: Arial, Helvetica, sans-serif;
}

.mrgleft15{
    margin-left: -15px;
}

.alignSocialAtNav {
    float: right;
    margin-right: -15px;
}

.mrgtopbtm2px a{
    margin-right: 20px;
}

.alignSocialAtNav i{
    margin-right: 5px;
}

